* {
    font-family: 'Press Start 2P', cursive;
}

html,
body {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
}

canvas {
    border: 5px rgb(189, 180, 180) solid;
    border-radius: 5px;
}

#topDiv {
    display: inline-block;
    position: relative;
}

#overlappingDiv {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10; /*make this screnn that do trasntions the closer to us*/
}

#userInterface {
    display: none;
}

/* Info about attacks */
h1 {
    margin: 0px;
    font-size: 16px;
}

button {
    border: 0;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: lightblue;
}

/* Attack selection box */
#interfaceSelection {
    display: flex;
    background-color: white;
    /* width: 200px; */
    height: 120px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border: 4px black dashed;
}

.attack-div {
    width: 66.66%;
    /*THis div takes 66.66 % of the parent div*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.attack-info {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 4px black dashed;
}

#statusInfoBad {
    background-color: white;
    width: 250px;
    /* height: 100px; */
    position: absolute;
    top: 15px;
    left: 15px;
    border: 4px black solid;
    padding: 12px;
}

.name {
    font-size: 16px;
}

.health {
    position: relative;
}

.health-damage {
    height: 5px;
    background-color: #ccc;
    margin-top: 10px;
}

.health-full {
    height: 5px;
    background-color: green;
    /* margin-top: 10px; */
    position: absolute;
    top: 0; /*Put the green bar */
    left: 0;
    right: 0;
}


#statusInfoGood {
    background-color: white;
    width: 250px;
    /* height: 100px; */
    position: absolute;
    bottom: 150px;
    right: 50px;
    border: 4px black solid;
    padding: 12px;
}

/* Dialogo Box */
#dialgueBox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    padding: 12px;
    display: none;
    cursor: pointer; /*make the cursour a poiter */
}

